table {
    border:  1px di colore #263238;
    width: 50%;
}

table > caption {
    font-size: 18px;
    font-weight: bold;
    color: #263238;
    padding: 8px;
}

thead > tr,th {
    background-color: #1e2c32;
    color: white;
    font-weight: 700;
}

tr {
    background-color: transparent;
}

tr:nth-child(even) {
    background-color: #c8e6c9;
}
tr:nth-child(odd) {
    background-color: #e8f5e9;
}