* {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0e0b0b;
    color: #000;
}

main {
    width: '100%';
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

hr {
    width: 100%;
    border: 1px solid #676161;
    animation: colorChange 2s linear infinite;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vw;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-right: 2px solid white;
    animation: colorChange 2s linear infinite;
}

.logo-container {
    width: '100%';
    position: relative;
    height: 60px;
}

.logo-section {
    width: 100px;
    position: absolute;
    top: 2;
    left: 2;
}

img[alt="logo"] {
    border: '1px solid #fff';
    border-radius: 100%;
    width: 50px;
    height: auto;
    image-resolution: from-image;
    animation: LightGame 2s linear infinite;
}

.link-container>ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 10px;
    margin-bottom: 50px;
}

li>.button-link {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li>.button-link:not(:disabled):hover {
    background-color: #efebeb;
    color: #444141;
    animation: ButtonSelectedScale 2s linear infinite;
}


li>.button-link:disabled {
    width: 100%;
    padding: 10px;
    background-color: #222020;
    color: #575454;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.aside-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

@keyframes ButtonSelectedScale {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.02);
    }

    50% {
        transform: scale(1.05);
    }

    75% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes LightGame {
    0% {
        box-shadow: 0 0 10px 0 #928c8c;
    }

    50% {
        box-shadow: 0 0 10px 0 #726678;
    }

    100% {
        box-shadow: 0 0 10px 0 #928c8c;
    }
}

@keyframes colorChange {
    0% {
        border-color: #676161;
    }

    50% {
        border-color: rgb(72, 61, 61);
    }

    100% {
        border-color: #676161;
    }
}